<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <div class="demo_changer" id="demo_changer">
        <div class="demo-icon fa fa-sliders"></div>
        <div class="form_holder">
            <div class="line"></div>
            <p>Color Scheme</p>
            <div class="predefined_styles" id="styleswitch_area">
                <a class="styleswitch" href="404-28690.html" style="background:#ED8323;"></a>
                <a class="styleswitch" href="#" data-src="bright-turquoise" style="background:#0EBCF2;"></a>
                <a class="styleswitch" href="#" data-src="turkish-rose" style="background:#B66672;"></a>
                <a class="styleswitch" href="#" data-src="salem" style="background:#12A641;"></a>
                <a class="styleswitch" href="#" data-src="hippie-blue" style="background:#4F96B6;"></a>
                <a class="styleswitch" href="#" data-src="mandy" style="background:#E45E66;"></a>
                <a class="styleswitch" href="#" data-src="green-smoke" style="background:#96AA66;"></a>
                <a class="styleswitch" href="#" data-src="horizon" style="background:#5B84AA;"></a>
                <a class="styleswitch" href="#" data-src="cerise" style="background:#CA2AC6;"></a>
                <a class="styleswitch" href="#" data-src="brick-red" style="background:#cf315a;"></a>
                <a class="styleswitch" href="#" data-src="de-york" style="background:#74C683;"></a>
                <a class="styleswitch" href="#" data-src="shamrock" style="background:#30BBB1;"></a>
                <a class="styleswitch" href="#" data-src="studio" style="background:#7646B8;"></a>
                <a class="styleswitch" href="#" data-src="leather" style="background:#966650;"></a>
                <a class="styleswitch" href="#" data-src="denim" style="background:#1A5AE4;"></a>
                <a class="styleswitch" href="#" data-src="scarlet" style="background:#FF1D13;"></a>
            </div>
            <div class="line"></div>
            <p>Layout</p>
            <div class="predefined_styles"><a class="btn btn-sm" href="#" id="btn-wide">Wide</a><a class="btn btn-sm" href="#" id="btn-boxed">Boxed</a>
            </div>
            <div class="line"></div>
            <p>Background Patterns</p>
            <div class="predefined_styles" id="patternswitch_area">
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/binding_light.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/binding_dark.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/dark_fish_skin.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/dimension.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/escheresque_ste.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/food.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/giftly.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/grey_wash_wall.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/ps_neutral.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/pw_maze_black.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/pw_pattern.png);"></a>
                <a class="patternswitch" href="#" style="background-image: url(./assets/img/patterns/simple_dashed.png);"></a>
            </div>
            <div class="line"></div>
            <p>Background Images</p>
            <div class="predefined_styles" id="bgimageswitch_area">
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/bike.jpg);" data-src="/backgrounds/bike.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/flowers.jpg);" data-src="img/backgrounds/flowers.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/wood.jpg);" data-src="img/backgrounds/wood.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/taxi.jpg);" data-src="img/backgrounds/taxi.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/phone.jpg);" data-src="img/backgrounds/phone.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/road.jpg);" data-src="img/backgrounds/road.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/keyboard.jpg);" data-src="img/backgrounds/keyboard.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/beach.jpg);" data-src="img/backgrounds/beach.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/street.jpg);" data-src="img/backgrounds/street.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/nature.jpg);" data-src="img/backgrounds/nature.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/bridge.jpg);" data-src="img/backgrounds/bridge.jpg"></a>
                <a class="bgimageswitch" href="#" style="background-image: url(./assets/img/switcher/cameras.jpg);" data-src="img/backgrounds/cameras.jpg"></a>
            </div>
            <div class="line"></div>
        </div>
    </div>
    <div class="full-page">
        <div class="bg-holder full">
            <div class="bg-mask"></div>
            <div class="bg-blur" style="background-image:url(./assets/img/196_365_1300x900.jpg);"></div>
            <div class="bg-holder-content full text-white">
                <a class="logo-holder" href="index.html">
                    <img src="./assets/img/logo-white.png" alt="Image Alternative text" title="Image Title" />
                </a>
                <div class="full-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <p class="text-hero">404</p>
                                <h1>Page is not found</h1>
                                <p>Litora lacinia diam pharetra tristique litora netus mus enim ultricies ridiculus metus non adipiscing natoque mus nam luctus fringilla consectetur</p><a class="btn btn-white btn-ghost btn-lg mt5" href="index.html"><i class="fa fa-long-arrow-left"></i> to Homepage</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="footer-links">
                    <li><a href="#">About</a>
                    </li>
                    <li><a href="#">Help</a>
                    </li>
                    <li><a href="#">Hot Deals</a>
                    </li>
                    <li><a href="#">Popular Locations</a>
                    </li>
                    <li><a href="#">Cheap Flights</a>
                    </li>
                    <li><a href="#">Business</a>
                    </li>
                    <li><a href="#">Media</a>
                    </li>
                    <li><a href="#">Developers</a>
                    </li>
                    <li><a href="#">Advertise</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>